.advantages {
  margin: 0;
  padding: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 50px;

  width: 100%;

  list-style: none;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages__item {
  margin: 0;
  padding: 0;
  width: 290px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1024px) {
    width: 300px;
  }

  @media screen and (min-width: 1440px) {
    width: 450px;
  }
}

.advantages__text {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 65px 0 0;
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $geometria;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: $greyBlueDark;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    display: block;
    width: 50px;
    height: 50px;

    transform: translateX(-25px);
  }

  &--icon-shipped {
    &::before {
      background-image: url("../img/shipped-blue-icon.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &--icon-money {
    &::before {
      background-image: url("../img/icon-money.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &--icon-badge {
    &::before {
      background-image: url("../img/icon-badge.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  @media screen and (min-width: 1024px) {
    font-size: 21px;
    line-height: 30px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 24px;
    line-height: 36px;
  }
}

.advantages__link {
  position: relative;

  box-sizing: border-box;
  margin: 25px 0 0;
  padding: 0 20px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $geometria;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: $trueWhite;
  text-decoration: none;

  background-color: $blueMain;
  border-radius: 25px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 80px;

    display: block;
    width: 5px;
    height: 1px;

    background-color: $trueWhite;
    border-radius: 1px;
  }

  &::before {
    top: 46%;
    transform: rotate(45deg);
  }

  &::after {
    top: 54%;
    transform: rotate(-45deg);
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: 50px;

    &::before,
    &::after {
      width: 7px;
      right: 60px;
    }
  }

  @media screen and (min-width: 1440px) {
    &::before,
    &::after {
      right: 140px;
    }
  }
}
