.banner {
  position: relative;

  margin: 0;
  padding: 0;

  background-color: $blueMain;
}

.banner__image-container {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 245px;

  background: linear-gradient(270deg, #4351D8 0%, rgba(67, 81, 216, 0) 100%),
  url("../img/benefit-banner-bg.jpg"),
  $blueMain;
  background-size: 125% auto;
  background-position: center bottom 0;
  background-repeat: no-repeat;

  z-index: 0;

  &--career-bg {
    background: linear-gradient(270deg, rgba(67, 81, 216, 0) 0%, #4351D8 100%),
    url("../img/career-banner-bg.jpg"),
    $blueMain;
    background-size: 125% auto;
    background-position: center bottom 0;
    background-repeat: no-repeat;
  }

  &--merit-bg {
    background: linear-gradient(270deg, rgba(67, 81, 216, 0) 0%, #4351D8 100%),
    url("../img/merit-banner-bg.jpg"),
    $blueMain;
    background-size: 125% auto;
    background-position: center top 0;
    background-repeat: no-repeat;
  }


  @media screen and (min-width: 425px) {
    background-size: 100% auto;
  }

  @media screen and (min-width: 768px) {
    width: 50%;
    height: 100%;

    background-size: cover;

    &--right-align {
      left: 50%;
    }
  }
}

.banner__layout {
  position: relative;

  margin: 0 auto;
  padding: 0 15px;
  min-width: 290px;
  max-width: 1410px;
  display: grid;

  z-index: 1;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.banner__heading-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 245px;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    padding: 0;
    min-height: auto;
    grid-area: 1 / 2 / 2 / 3;
    justify-content: flex-start;

    &--left-column {
      margin-top: 65px;
      grid-area: 1 / 1 / 2 / 2;
    }

    &--both-column {
      margin-top: 50px;
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  @media screen and (min-width: 1024px) {
    margin-top: 64px;

    &--left-column {
      margin-top: 108px;
    }

    &--both-column {
      margin-top: 90px;
    }
  }
}

.banner__heading {
  margin: 0;
  padding: 0;

  font-family: $geometria;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: $trueWhite;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 48px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 48px;
    line-height: 53px;
  }
}

.banner__text-wrapper {
  margin: 25px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;

  @media screen and (min-width: 768px) {
    margin: 25px 0 32px;
    grid-area: 2 / 2 / 3 / 3;

    &--left-column {
      margin-bottom: 65px;
      grid-area: 2 / 1 / 3 / 2;
    }

    &--both-column {
      grid-area: 2 / 1 / 3 / 3 ;
    }
  }

  @media screen and (min-width: 1024px) {
    margin: 40px 0 65px;

    &--left-column {
      margin-bottom: 108px;
    }
  }
}

.banner__text-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 30px;

  list-style: none;

  @media screen and (min-width: 768px) {
    grid-row-gap: 40px;

    &--two-columns {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
    }
  }

  @media screen and (min-width: 1024px) {
    grid-row-gap: 50px;
  }
}

.banner__text-item {
  margin: 0;
  padding: 0;
}

.banner__text {
  display: block;
  margin: 0;
  padding: 0;

  font-family: $geometria;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $trueWhite;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 28px;
  }
}

.banner__link {
  box-sizing: border-box;
  margin: 30px 0 0;
  padding: 16px 30px;
  width: 100%;
  max-width: 400px;

  font-family: $geometria;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $darkFullBlue;
  text-decoration: none;
  text-align: center;

  background-color: $trueWhite;
  border-radius: 80px;
}
