.find-shop {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    align-items: center;
  }
}

.find-shop__image-wrapper {
  margin: 0;
  padding: 0;
}

.find-shop__image {
  display: block;
  margin: 0;
  padding: 0;

  border-radius: 50%;
}

.find-shop__heading {
  margin: 25px 0 0;
  padding: 0;

  font-family: $geometria;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: $darkFullBlue;

  @media screen and (min-width: 768px) {
    margin: 35px 0 0;

    font-size: 40px;
    line-height: 45px;
  }

  @media screen and (min-width: 1024px) {
    margin: 50px 0 0;

    font-size: 48px;
    line-height: 53px;
  }
}

.find-shop__text {
  display: block;
  margin: 10px 0 0;
  padding: 0;

  font-family: $geometria;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $darkFullBlue;

  @media screen and (min-width: 768px) {
    margin: 20px 0 0;

    font-size: 20px;
    line-height: 29px;
    text-align: center;
  }

  @media screen and (min-width: 1024px) {
    margin: 30px 0 0;

    font-size: 24px;
    line-height: 34px;
  }
}

.find-shop__text-link {
  margin: 0;
  padding: 0;

  font: inherit;
  color: $blueMain;
  text-decoration: none;
}

.find-shop__find-button {
  box-sizing: border-box;
  display: block;
  margin: 25px 0 0;
  padding: 16px 80px;

  font-family: $geometria;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $trueWhite;
  text-decoration: none;

  background: $kord-gradient;
  border-radius: 80px;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin: 30px 0 0;
    padding: 16px 137px;
  }

  @media screen and (min-width: 1024px) {
    margin: 50px 0 0;
  }
}
