.item-parameters {
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 690px;
}

.item-parameters__heading {
  margin: 0;
  padding: 0;

  font-family: $geometria;
  font-weight: 800;
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: $greyBlueDark;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 35px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 55px;
  }

  @media screen and (min-width: 1400px) {
    font-size: 35px;
    line-height: 75px;
  }
}

.item-parameters__form {
  margin: 15px 0 0;
  padding: 0;

  @media screen and (min-width: 1024px) {
    margin: 25px 0 0;
  }
}

.item-parameters__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.item-parameters__item {
  margin: 0;
  padding: 0;

  &--horizontal {
    margin: 10px 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (min-width: 1024px) {
    margin: 0 0 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    &--horizontal {
      margin: 0;
    }
  }
}

.item-parameters__param-topic {
  margin: 10px 0 0;
  padding: 0;

  font-family: $geometria;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: $greyBlueDark;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media screen and (min-width: 1024px) {
    margin: 0;
  }
}

.item-parameters__buttons-wrapper {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1024px) {
    margin: 0;
  }
}

.item-parameters__toggle-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 148px;
  min-height: 30px;

  font-family: $geometria;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: $blueMain;

  background: none;
  border: 1px solid $blueMain;

  cursor: pointer;

  @include smooth;

  &--equal {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &--differing {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &--active {
    color: $trueWhite;
    background-color: $blueMain;

    pointer-events: none;
  }

  &:hover,
  &:focus {
    color: $trueWhite;
    background-color: $blueMain;
  }

  @media screen and (min-width: 1024px) {
    min-width: 160px;
    min-height: 40px;

    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (min-width: 1440px) {
    min-width: 225px;
    min-height: 50px;

    font-size: 20px;
    line-height: 24px;
  }
}

.item-parameters__input-wrapper {
  margin: 10px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  @media screen and (min-width: 1024px) {
    margin: 0;
  }
}

.item-parameters__select-wrapper {
  position: relative;

  margin: 0;
  padding: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 10px;

    display: block;
    width: 7px;
    height: 1px;

    background-color: $greyBlueDark;
    border-radius: 1px;

    pointer-events: none;
  }

  &::before {
    right: 12.25px;
    transform: rotate(45deg);
  }

  &::after {
    right: 7.75px;
    transform: rotate(-45deg);
  }

  &--hidden {
    display: none;
  }

  &--both {
    grid-column: 1 / 3;
  }

  @media screen and (min-width: 1024px) {
    &::before,
    &::after {
      bottom: 50%;
    }

    &::before {
      right: 15.25px;
    }

    &::after {
      right: 10.75px;
    }
  }
}

.item-parameters__label {
  margin: 0 0 5px;
  padding: 0;
  display: block;
  width: 100%;

  font-family: $geometria;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: $greyBlueDark;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.item-parameters__select {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 0 60px 0 10px;
  width: 100%;

  font-family: $geometria;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: $greyBlueDark;

  background: none;
  border: 1px solid $greyBlueDark;
  border-radius: 10px;

  appearance: none;
  cursor: pointer;

  @include smooth;

  &:hover,
  &:focus {
    border-color: $blueMain;
  }

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 50px;
  }
}

.item-parameters__option {
  display: block;
  margin-top: 50px;
}

.item-parameters__count-wrapper {
  position: relative;

  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  &--hidden {
    display: none;
  }

  &--both {
    grid-column: 1 / 3;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1024px) {
    &--both {
      justify-content: center;
    }
  }
}

.item-parameters__count-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  min-height: 35px;

  font-family: $geometria;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: $blueMain;

  background: none;
  background-color: $trueWhite;
  border: 1px solid $blueMain;
  border-radius: 5px;

  cursor: pointer;

  @include smooth;

  &:hover,
  &:focus {
    color: $trueWhite;

    background-color: $blueMain;
  }

  @media screen and (min-width: 1024px) {
    min-width: 50px;
    min-height: 50px;

    font-size: 20px;
    line-height: 24px;
  }
}

.item-parameters__lens-count-input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;

  font-family: $geometria;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: $greyBlueDark;

  background: $trueWhite;
  border: none;

  @media screen and (min-width: 1024px) {
    min-width: 50px;
    min-height: 50px;

    font-size: 20px;
    line-height: 24px;
  }
}

.item-parameters__delivery-select-wrapper {
  position: relative;

  margin: 0;
  padding: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 12px;
    right: 10px;

    display: block;
    width: 7px;
    height: 1px;

    background-color: $greyBlueDark;
    border-radius: 1px;

    pointer-events: none;
  }

  &::before {
    right: 12.25px;
    transform: rotate(45deg);
  }

  &::after {
    right: 7.75px;
    transform: rotate(-45deg);
  }

  &--hidden {
    display: none;
  }

  &--both {
    grid-column: 1 / 3;
  }

  @media screen and (min-width: 1024px) {
    &::before,
    &::after {
      bottom: 50%;
    }

    &::before {
      right: 15.25px;
    }

    &::after {
      right: 10.75px;
    }
  }
}

.item-parameters__delivery-select {
  position: relative;

  box-sizing: border-box;
  margin: 0;
  padding: 0 60px 0 10px;
  width: 100%;

  font-family: $geometria;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: $greyBlueDark;

  background: none;
  border: 1px solid $greyBlueDark;
  border-radius: 10px;

  appearance: none;
  cursor: pointer;

  @include smooth;

  &:hover,
  &:focus {
    border-color: $blueMain;
  }

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 50px;
  }
}

.item-parameters__delivery-time {
  margin: 0 0 0 10px;
  padding: 0;

  font-family: $geometria;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: $greyBlueDark;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.item-parameters__time-value {
  font: inherit;
}

.item-parameters__side-list {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  list-style: none;

  @media screen and (min-width: 1024px) {
    margin: 25px 0 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.item-parameters__side-item {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1024px) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 90px;
    }
  }
}

.item-parameters__side-link {
  margin: 0;
  padding: 0;

  font-family: $geometria;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: $blueMain;

  @media screen and (min-width: 1024px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.item-parameters__gift {
  position: relative;

  box-sizing: border-box;
  margin: 25px 0 0;
  padding: 0 0 0 60px;
  display: block;

  font-family: $geometria;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: $greyBlueDark;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 50px;
    height: 50px;

    background-image: url("../img/giftbox-icon.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transform: translateY(-25px);
  }

  @media screen and (min-width: 1024px) {
    padding: 0 0 0 90px;

    font-size: 15px;
  }
}

.item-parameters__price-wrapper {
  margin: 25px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-row-gap: 20px;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
  }
}

.item-parameters__price-value {
  margin: 0;
  padding: 0;

  font-family: $geometria;
  font-weight: 800;
  font-style: normal;
  font-size: 35px;
  line-height: 24px;
  color: $greyBlueDark;

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    line-height: 40px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 50px;
    line-height: 50px;
  }
}

.item-parameters__buy-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  max-width: 210px;

  font-family: $geometria;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: $trueWhite;

  background: none;
  background-color: $blueMain;
  border: none;
  border-radius: 50px;
  box-shadow: 0 5px 25px rgba(62, 66, 91, 0.25);

  cursor: pointer;

  @media screen and (min-width: 1024px) {
    font-size: 17px;
  }
}

.item-parameters__pay-method-link {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;

  font-family: $geometria;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: $blueMain;

  @media screen and (min-width: 1024px) {
    grid-column: 2/3;
    grid-row: 2/3;

    font-size: 16px;
    text-align: center;
  }
}

.item-parameters__subscribe-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 35px;
  max-width: 210px;

  font-family: $geometria;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  color: $blueMain;

  background: none;
  border: 1px solid #4351d8;
  border-radius: 50px;
  box-shadow: 0 5px 25px rgba(62, 66, 91, 0.25);

  cursor: pointer;

  @include smooth;

  &:hover,
  &:focus {
    color: $trueWhite;

    background-color: $blueMain;
  }

  @media screen and (min-width: 1024px) {
    grid-column: 3/4;
    grid-row: 1/2;

    font-size: 17px;
  }
}
