.main-content {
    margin: 0;
    padding: 0 15px;
}

.main-content__slider-offer {
    margin: 15px auto 0;

    @media (min-width: 768px) {
        margin-top: 30px;
    }
}

.main-content__slider-package {
    margin: 15px auto 0;

    @media (min-width: 768px) {
        margin-top: 30px;
    }
}

.main-content__services {
    margin: 15px auto 0;

    @media (min-width: 768px) {
        margin-top: 65px;
    }
}