.main-content {
  margin: 0;
  padding: 0 15px;
}

.main-content__slider-offer {
  margin: 15px auto 0;

  @media (min-width: 768px) {
    margin-top: 30px;
  }
}

.main-content__slider-package {
  margin: 15px auto 0;

  @media (min-width: 768px) {
    margin-top: 30px;
  }
}

.main-content__services {
  margin: 15px auto 0;

  @media (min-width: 768px) {
    margin-top: 65px;
  }
}

.main-content__about {
  margin: 32px auto 0;

  @media (min-width: 768px) {
    margin-top: 65px;
  }
}

.main-content__stat {
  margin: 32px auto 0;

  @media (min-width: 768px) {
    margin-top: 10px;
  }
}

.main-content__history {
  margin: 0 auto;
  @media (min-width: 768px) {
    margin-top: 32px;
  }
}

.main-content__news {
  margin: 32px auto 0;
  @media (min-width: 768px) {
    margin-top: 64px;
  }
}

.main-content__reviews {
  margin: 32px auto 0;
  @media (min-width: 768px) {
    margin-top: 64px;
  }
}

.main-content__slider-inst {
  margin: 32px auto 0;
  @media (min-width: 768px) {
    margin-top: 64px;
  }
}

.main-content__breadcrumbs {
  margin: 10px auto 0;
}

.main-content__news-layout {
  margin: 10px auto 0;
  padding: 0;
  @media screen and (min-width: 1024px) {
    margin: 50px auto 0;
  }
}

.main-content__pagination {
  margin: 0 auto;
  padding: 0;
}

.main-content__description-wrapper {
  margin: 35px auto 0;
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 425px) {
    width: 425px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}

.main-content__description {
  height: 215px;

  font-family: $geometria;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 35px;
  color: $greyBlueDark;

  overflow: hidden;
  text-overflow: ellipsis;

  @include smooth;
}

.main-content__description-button {
  box-sizing: border-box;
  margin: 10px 0 0;
  padding: 0;

  font-family: $geometria;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: $blueMain;

  background: none;
  border: none;

  cursor: pointer;
}

.main-content__catalog {
  margin: 15px auto 20px;
  padding: 0;

  @media screen and (min-width: 768px) {
    margin: 30px auto 20px;
  }

  @media screen and (min-width: 1024px) {
    margin: 50px auto 20px;
  }
}

.main-content__warnings {
  margin: 0 auto 25px;
  padding: 0;
  max-width: 1410px;

  font-family: $geometria;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.25em;
  text-align: center;
  color: $greyBlueDark;

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.main-content__promo {
  margin: 15px auto 0;
  padding: 0;
  max-width: 1410px;

  @media screen and (min-width: 1024px) {
    margin: 50px auto 0;
  }

  @include outline(red);
}
