.separate-line {
  margin: 30px auto;
  padding: 0;
  min-width: 290px;
  width: 100%;
  max-width: 1410px;
  height: 1px;

  background-color: #E4E6FD;

  @media screen and (min-width: 768px) {
    margin: 45px auto;
  }

  @media screen and (min-width: 1024px) {
    margin: 65px auto;
  }
}
