.slider-inst {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1410px;
}

.slider-inst__header {
    margin: 0;
    padding: 0;

    font-family: $geometria;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    color: $trueBlack;
}

.slider-inst__link {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: $geometria;
    font-size: 16px;
    font-weight: 400;
    color: $blueFilter;
    text-decoration: none;

    @media (min-width: 600px) {
        width: auto;
    }
}

.slider-inst__slider {
    margin-top: 16px;
    min-width: 0;
}

.slider-inst__slider .slick-slide > div {
    width: 272px;
    height: 272px;

    @media (min-width: 600px) {
        width: 320px;
        height: 320px;
    }

    @media (min-width: 768px) {
        width: 350px;
        height: 350px;
    }

    @media (min-width: 1024px) {
        width: 380px;
        height: 380px;
    }
}

.slider-inst__item {
    box-sizing: border-box;
    padding: 0 15px;
}

.slider-inst__image {
    width: 100%;
    height: auto;
}
