.button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: $geometria;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: $trueWhite;
  text-decoration: none;
  text-align: center;

  background: $kord-gradient;
  border: none;
  border-radius: 80px;

  @include smooth;
  cursor: pointer;

  &:hover,
  &:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(90deg, #4351d8 0%, #6d7bff 100%);
  }

  &:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      linear-gradient(90deg, #4351d8 0%, #6d7bff 100%);
  }
}
